#root {
    width: 100%;
    height: auto;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 1em;
    max-width: 60%;
    z-index: 1;
}

.dark-mode {
    background-color: #000;
    color: #ffffff;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.toggle-button {
    /* margin-top: 20px; */
    position: absolute;
    top: 1em;
    right: 1em;
}